<div class="col-md-3 car btn btn-default listing-button">
  <h5><%= "#{generic_club.brand} : #{generic_club.club_type}" %></h5>
  <h6><%= GenericClubViewObject.new(generic_club).gender_handed %></h6>
  Head Feature: <%= generic_club.head_feature %><br>
  Shaft Stiffness: <%= generic_club.shaft_stiffness %><br>
  Condition: <%= club.condition %><br>
  <%= button_to 'Delete', supplier_club_path(supplier, club), method: :delete %>
  <%= render partial: 'listings/new_form', locals: {obj: club} %>
</div>
