<li>
  <p>

    <h3><%= "#{generic_club.brand} : #{generic_club.club_type}" %></h3>
    <h4><%= GenericClubViewObject.new(generic_club).gender_handed %></h4>
    Head Feature: <%= generic_club.head_feature %><br>
    Shaft Stiffness: <%= generic_club.shaft_stiffness %><br>
    Condition: <%= club.condition %><br>
    Active? : <%= club.active %>
    <%= button_to 'Delete', supplier_club_path(supplier,club), method: :delete %>
  </p>
</li>
