<h1>New Club</h1>
<%= form_for(@club, url: user_clubs_path(@user)) do |f| %>

  <%= f.fields_for :generic_club, GenericClub.new do |field|%>
    <p>
      <%= f.label :generic_club_type %>
      <%= field.select :type, GenericClub::Types %>
    </p>
    <p>
      <%= f.label :generic_club_brand %>
      <%= field.text_field :brand%>
    </p>
    <p>
      <%= f.label :gender %>:
      <%= field.radio_button :male, true, checked: true%>Male
      <%= field.radio_button :male, false%>Female
    </p>
    <p>
      <%= f.label :righty %>:
      <%= field.radio_button :righty, true, checked: true%>Righty
      <%= field.radio_button :righty, false%>Lefty
    </p>
    <p>
      <%= f.label :generic_club_head_feature %>
      <%= field.select :type, GenericClub::HeadFeatures %>
    </p>
    <p>
      <%= f.label :generic_club_shaft_stiffness %>
      <%= field.select :type, GenericClub::ShaftStiffnesses %>
    </p>
  <% end %>

  <p>
  <%= f.label :club_condition %>
  <%= f.select :condition, Club::Conditions %>
  </p>

  <%= f.submit %>
<% end %>
