
<!-- <p id="notice"><%= notice %></p>


<%= button_to "Supply Clubs", @user.supplier ? supplier_path(@user.supplier) : new_supplier_path, method: :get %>
<br>
<%= button_to "Rent Clubs", listings_path, method: :get %>
 -->
<!-- <button class="btn-to-update">Update Info</button> -->
 <div class="parent-js" >
<%= form_for @user, html: {class: "user_form"} , remote: true do |f| %>
   <%= f.hidden_field :user_id, value: @user.id, class: "my_id" %>
   <%= f.label "First Name" %>
   <%= f.text_field :first_name, class: "thisone" %>
   <%= f.label "Last Name" %>
   <%= f.text_field :last_name %>
   <%= f.label "Address" %>
   <%= f.text_field :address %>
   <%= f.label "Phone Number" %>
   <%= f.text_field :phone_number %>
   <%= f.submit  %>

</div>
 <% end %>
<div class="my_name">
 <%=@user.first_name %>
 <%=@user.last_name %>
 <%=@user.address %>
 <%=@user.phone_number %>
</div>
