<div id="user-show-button-supply" ><%= button_to "Supply Clubs", @user.supplier ? supplier_path(@user.supplier) : new_supplier_path, class: "btn btn-success", method: :get %></div>


<!-- <p id="notice"><%= notice %></p>


<%= button_to "Supply Clubs", @user.supplier ? supplier_path(@user.supplier) : new_supplier_path, method: :get %>
<br>
<%= button_to "Rent Clubs", listings_path, method: :get %>
 -->
<!-- <button class="btn-to-update">Update Info</button> -->
<div class="parent-js" >
<%= form_for @user, html: {class: "user_form"} , remote: true do |f| %>
   <%= f.hidden_field :user_id, value: @user.id, class: "my_id" %>
   <%= f.label "First Name" %>
   <%= f.text_field :first_name%>
   <%= f.label "Last Name" %>
   <%= f.text_field :last_name %>
   <%= f.label "Address" %>
   <%= f.text_field :address %>
   <%= f.label "Phone Number" %>
   <%= f.text_field :phone_number %>
   <%= f.submit  %>

</div>
 <% end %> 

<!-- <button class="btn-to-update">Update Info</button> -->
<div class="high-div">
<div class="my_name">

 <center></center>
 <center></center>
 <center></center>
 <center></center>
</div>
</div>

<div class="row">
   <div class="col-xs-1"></div>
   <div class="col-xs-2 jumbotron">
      <div class="row">
         <center><img src="/assets/user.png" class='user-image' align='middle'></center>
      </div>
      <h5><strong>Name: </strong><%=@user.first_name %> <%=@user.last_name %></h5>
      <h5><strong>Email: </strong><%=@user.email %></h5>
      <h5><strong>Address: </strong><%=@user.address %></h5>
      <h5><strong>Phone number: </strong><%=@user.phone_number %></h5>
   </div>
   <div class="col-xs-6">
      <ul class="nav nav-tabs">
        <li class="active"><a href="/reservations/show_upcoming" data-toggle="tab" aria-expanded="true" data-remote='true' class='upcoming-reservations' data-target="#upcoming-reservations" >Upcoming Reservations</a></li>
        <li class=""><a href="/reservations/show_past" data-toggle="tab" aria-expanded="false" data-remote='true' class='past-reservations' data-target="#past-reservations">Past Reservations</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="upcoming-reservations">
          
        </div>
        <div class="tab-pane fade" id="past-reservations">

        </div>
      </div>
   </div>
   <div class="col-xs-2" id='show-reservation-details'>
      
   </div>
   <div class="col-xs-1"></div>
</div>

<%= render 'users/reservations_handlebars.html.erb' %>

<%= render 'users/reservation_details_handlebars.html.erb' %>