<div class="row">
   <div class="col-xs-1"></div>
   <div class="col-xs-2 jumbotron">
      <div class="row">
         <center><img src="/assets/user.png" class='user-image' align='middle'></center>
      </div>
      <h5><strong>Name: </strong><%=@user.first_name %> <%=@user.last_name %></h5>
      <h5><strong>Email: </strong><%=@user.email %></h5>
      <h5><strong>Address: </strong><%=@user.address %></h5>
      <h5><strong>Phone number: </strong><%=@user.phone_number %></h5>
   </div>
   <div class="col-xs-6">
      <ul class="nav nav-tabs">
        <li class="active"><a href="/reservations/show_upcoming" data-toggle="tab" aria-expanded="true" data-remote='true' class='upcoming-reservations' data-target="#upcoming-reservations" >Upcoming Reservations</a></li>
        <li class=""><a href="/reservations/show_past" data-toggle="tab" aria-expanded="false" data-remote='true' class='past-reservations' data-target="#past-reservations">Past Reservations</a></li>
        <li class=""><a href="/listings/show_clubs" data-toggle="tab" aria-expanded="false" data-remote='true' class='club-listings' data-target="#club-listings">Club Listings</a></li>
        <li class=""><a href="/listings/show_club_sets" data-toggle="tab" aria-expanded="false" data-remote='true' class='club-set-listings' data-target="#club-set-listings">Set Listings</a></li>
        <li class=""><a href="/clubs" data-toggle="tab" aria-expanded="false" data-remote='true' class='clubs-index' data-target="#clubs-index">Clubs</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="upcoming-reservations">
          
        </div>
        <div class="tab-pane fade" id="past-reservations">

        </div>
        <div class="tab-pane fade" id="club-listings">

        </div>
        <div class="tab-pane fade" id="club-set-listings">

        </div>
        <div class="tab-pane fade" id="clubs-index">

        </div>
      </div>
   </div>
   <div class="col-xs-2" id='show-details'>
      
   </div>
   <div class="col-xs-1"></div>
</div>

<%= render 'users/reservations_handlebars.html.erb' %>

<%= render 'users/reservation_details_handlebars.html.erb' %>

<%= render 'users/listings_handlebars.html.erb' %>

<%= render 'users/listing_details_handlebars.html.erb' %>

<%= render 'users/clubs_handlebars.html.erb' %>
