<%= form_for(@club, url: user_clubs_path(@user)) do |f| %>

  <%= f.fields_for :generic_club do |field|%>
    <p>
      <%= f.label :generic_club_type %>
      <%= field.select :type, GenericClub::Types %>
    </p>
    <p>
      <%= f.label :generic_club_brand %>
      <%= field.text_field :brand%>
    </p>
    <p>
      <%= f.label :gender %>:
      <%= field.radio_button :male, true%>Male
      <%= field.radio_button :male, false%>Female
    </p>
  <% end %>

  <p>
  <%= f.label :club_condition %>
  <%= f.select :condition, Club::Conditions %>
  </p>

  <%= f.submit %>
<% end %>
