<div id='new_club_container'>
  <hr>
  <div id='club-set-form-notice'><%= flash[:notice] %></div>
  <h5><strong><u>Add Set</u></strong></h5>
  <%= form_for(club_set, url: supplier_club_sets_path(supplier), remote: true) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :summary %>
    <%= f.text_area :summary %><br>
    <%= f.collection_check_boxes :club_ids, supplier.clubs.where(active: true), :id, :club_attributes do |b| %>
      <% b.label(class: 'collection-check-box') { b.check_box + b.text } %>
    <% end %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>