<%= form_for(@club_set, url: supplier_club_sets_path(@supplier)) do |f| %>
<% if @club_set.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@club_set.errors.count, "error") %> prohibited this club_set from being saved:</h4>

    <ul>
    <% @club_set.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :summary %>
  <%= f.text_area :summary %><br>
  <%= f.collection_check_boxes :club_ids, @supplier.clubs, :id, :club_attributes %>
  <%= f.submit %>
<% end %>
